.head{
    width: 100%;
    height: 44px;
    line-height: 44px;
    color: #FFF;
    font-size: 16px;
    text-align: center;
    background: #FC3757;
    background-image: -webkit-gradient(linear, left top, right top, from(#FA7C54), to(#FD3F69));
    background-image: -webkit-linear-gradient(left, #FA7C54 0%, #FD3F69 100%);
    background-image: -o-linear-gradient(left, #FA7C54 0%, #FD3F69 100%);
    background-image: linear-gradient(90deg, #FA7C54 0%, #FD3F69 100%);
    position: fixed;
    top: 0;
    z-index: 100;
}
.head a.back{
    width: 40px;
    height: 44px;
    background: url(//oss2.lanlanlife.com/c06424a055c7b1c9b77512f9a5639ca7_44x26.png) no-repeat center;
    background-size: 13px 22px;
    position: absolute;
    top: 0;
    left: 0;
}
.head a.home{
    width: 40px;
    height: 44px;
    position: absolute;
    top: 0;
    right: 0;
}
.head a.home img{
    width: 22px;
    height: 23px;
    vertical-align: middle;
}
.head form.find{
    width: 2.55rem;
    position: absolute;
    top: 0;
    left: 42px;
}
.head .find .placeholder-search{
    width: 13px;
    height: 13px;
    background: url(//oss2.lanlanlife.com/57145c685260337e68ac19368eb72634_26x26.png) no-repeat;
    background-size: 13px;
    position: absolute;
    top: 50%;
    left: 10px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.head .find .close{
    border-radius: 20px;
    background: #fff;
    padding: 2px;
    position: absolute;
    top: 15px;
    right: 10px;
}
.head input{
    padding: 0 28px;
    width: 100%;
    height: 30px;
    border: none;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
    border-radius: 4px;
    color: #FFF;
    background-color: rgba(255,255,255,.4);
}
.head .search-btn {
    width: .56rem;
    height: 30px;
    line-height: 30px;
    color: #FA7656;
    background: #fff;
    font-size: 14px;
    text-align: center;
    border: none;
    border-radius: 4px;
    position: absolute;
    top: 7px;
    right: 14px;
}

.find-tab{
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #f1f1f1;
    position: fixed;
    top: 44px;
    z-index: 100;
}
.find-tab:after{
    content: '';
    display: table;
    overflow: hidden;
    clear:both;
}
.find-tab li{
    float: left;
    width: 50%;
    height:40px;
    line-height: 40px;
    font-size: 0;
    text-align: center;
    color: #030303;
}
.find-tab li.on{
    color: #FC3D37;
}
.find-tab li b{
    position: relative;
    font-size: 15px;
}
.find-tab li.on b:after{
    content: '';
    position: absolute;
    bottom: -12px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #FC3D37;
}
.super-box{
    padding-left: .3rem;
}
.super-box h5{
    margin: 20px 0;
    padding: 2px 5px;
    font-weight: bold;
    font-size: 14px;
    color: #030303;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-left: 4px solid #030303;
}
.super-box img{
    width: 3.08rem;
}
.lists{
    background: #F1F1F1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}